*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #94bbe9;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10vh;
}
.container{
    width: 770px;
    height: 500px;
    border-radius: 10px;
    background-color: white;
    text-align: center;
    position: relative;
    overflow: hidden;
}
.slider{
    display: flex;
}
.slide{
    min-width: 100%;
}
.slide img{
    display: block;
    min-width: 100%;
}
.left-button{
    background-color: black;
    color: white;
    font-size: 15px;
    padding: 10px;
    position: absolute;
    top: 40%;
    left: 0;
}
 .right-button{
    background-color: black;
    color: white;
    font-size: 15px;
    padding: 10px;
    position: absolute;
    top: 40%;
    right: 0;
}